[submodule "api/aglio"]
	path = api/aglio
	url = https://github.com/danielgtaylor/aglio
[submodule "api/tinkerware-blueprint"]
	path = api/tinkerware-blueprint
	url = https://github.com/Tinker-Ware/tinkerware-blueprint.git
