$icomoon-font-path: '../fonts' !default;

$icon-go: '\e900';
$icon-python: '\e901';
$icon-react: '\e601';
$icon-check: '\e5ca';
$icon-person: '\e7fd';
$icon-person-add: '\e7fe';
$icon-warning: '\e002';
$icon-html-five: '\ef43';

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src:  url('#{$icomoon-font-path}/icomoon.eot');
  src:  url('#{$icomoon-font-path}/icomoon.eot#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
  url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
  url('#{$icomoon-font-path}/icomoon.svg#icomoon') format('svg');
}

.icon {
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-go {
  &::before {
    content: $icon-go;
  }
}

.icon-python {
  &::before {
    content: $icon-python;
  }
}

.icon-react {
  &::before {
    content: $icon-react;
  }
}

.icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-person {
  &::before {
    content: $icon-person;
  }
}

.icon-person-add {
  &::before {
    content: $icon-person-add;
  }
}

.icon-warning {
  &::before {
    content: $icon-warning;
  }
}

.icon-html-five {
  &::before {
    content: $icon-html-five;
  }
}

.card {
  padding: 2em 0;

  &[class='card'] > div {
    padding: 1em;
  }

  form {
    padding-bottom: 1em;

    .btn-login {
      margin-top: 2em;
    }
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
