$icomoon-font-path: '../fonts' !default;

$icon-phoenix: '\e905';
$icon-tinkerware: '\e908';
$icon-buildbot: '\e906';
$icon-warning: '\e002';
$icon-edit: '\e254';
$icon-memory-ram: '\e322';
$icon-timer: '\e425';
$icon-arrow-back: '\e5c4';
$icon-check: '\e5ca';
$icon-nginx: '\e602';
$icon-person: '\e7fd';
$icon-person-add: '\e7fe';
$icon-delete: '\e872';
$icon-go: '\e900';
$icon-python: '\e901';
$icon-deploy: '\e902';
$icon-digitalocean: '\e903';
$icon-ghost: '\e904';
$icon-home: '\e95f';
$icon-cpu: '\ea1a';
$icon-push: '\ea36';
$icon-box: '\ea84';
$icon-project: '\ec1b';
$icon-trigger: '\ec2b';
$icon-cloud-download: '\ec7a';
$icon-save: '\ec87';
$icon-cancel: '\ed6a';
$icon-github: '\e90c';
$icon-cassandra-path1: '\ef0f';
$icon-cassandra-path2: '\ef10';
$icon-cassandra-path3: '\ef11';
$icon-cassandra-path4: '\ef12';
$icon-elixir: '\e909';
$icon-mariadb: '\e90a';
$icon-spring: '\e907';
$icon-react: '\e600';
$icon-redis: '\e606';
$icon-angularjs: '\e61c';
$icon-django: '\e63f';
$icon-html5: '\e7f6';
$icon-laravel: '\e851';
$icon-gitlab: '\e90d';
$icon-github: '\e90c';
$icon-bitbucket: '\e910';
$icon-mongodb: '\eb43';
$icon-mysql: '\eb61';
$icon-nodejs: '\eb69';
$icon-postgresql: '\eb7c';
$icon-rails: '\eba2';
$icon-ruby: '\ebc9';
$icon-wordpress: '\ebfe';
$icon-yii: '\ec01';
$icon-ember: '\e90b';
$icon-mydevop-path1: '\e925';
$icon-mydevop-path2: '\e926';
$icon-mydevop-path3: '\e927';
$icon-mydevop-path4: '\e928';
$icon-mydevop-path5: '\e929';
$icon-mydevop-path6: '\e92a';
$icon-mydevop-path7: '\e92b';
$icon-mydevop-path8: '\e92c';
$icon-mydevop-path9: '\e92d';
$icon-mydevop-path10: '\e92e';
$icon-mydevop-path11: '\e92f';
$icon-mydevop-path12: '\e930';
$icon-mydevop-path13: '\e931';
$icon-mydevop-path14: '\e932';
$icon-mydevop-2: '\e94b';
$icon-logo-path1: '\e979';
$icon-logo-path2: '\e97a';
$icon-logo-path3: '\e97b';
$icon-logo-path4: '\e97c';
$icon-logo-path5: '\e97d';
$icon-logo-path6: '\e97e';
$icon-logo-path7: '\e97f';
$icon-lock: '\e897';
$icon-ci: '\e629';
$icon-backup: '\e923';
$icon-performance: '\ebe2';
$primary-color: rgb(83, 106, 112);
$secondary-color: rgb(45, 110, 148);
$tertiary-color: rgb(226, 34, 59);
$quaternary-color: rgb(47, 169, 182);
$quinary-color: rgb(103, 196, 175);
$white-color: #ffffff;

@font-face {
  // sass-lint:disable-block no-duplicate-properties
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src:  url('#{$icomoon-font-path}/eyes.eot');
  src:  url('#{$icomoon-font-path}/eyes.eot#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/eyes.ttf') format('truetype'),
  url('#{$icomoon-font-path}/eyes.woff') format('woff'),
  url('#{$icomoon-font-path}/eyes.svg#icomoon') format('svg');
}

input {
  // sass-lint:disable-block no-important
  box-shadow: none !important;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phoenix {
  &::before {
    content: $icon-phoenix;
  }
}

.icon-tinkerware {
  &::before {
    content: $icon-tinkerware;
  }
}

.icon-buildbot {
  &::before {
    content: $icon-buildbot;
  }
}

.icon-warning {
  &::before {
    content: $icon-warning;
  }
}

.icon-edit {
  &::before {
    content: $icon-edit;
  }
}

.icon-memory-ram {
  &::before {
    content: $icon-memory-ram;
  }
}

.icon-timer {
  &::before {
    content: $icon-timer;
  }
}

.icon-arrow-back {
  &::before {
    content: $icon-arrow-back;
  }
}

.icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-nginx {
  &::before {
    content: $icon-nginx;
  }
}

.icon-person {
  &::before {
    content: $icon-person;
  }
}

.icon-person-add {
  &::before {
    content: $icon-person-add;
  }
}

.icon-delete {
  &::before {
    content: $icon-delete;
  }
}

.icon-go {
  &::before {
    content: $icon-go;
  }
}

.icon-python {
  &::before {
    content: $icon-python;
  }
}

.icon-deploy {
  &::before {
    content: $icon-deploy;
  }
}

.icon-digitalocean {
  &::before {
    content: $icon-digitalocean;
  }
}

.icon-ghost {
  &::before {
    content: $icon-ghost;
  }
}

.icon-home {
  &::before {
    content: $icon-home;
  }
}

.icon-cpu {
  &::before {
    content: $icon-cpu;
  }
}

.icon-push {
  &::before {
    content: $icon-push;
  }
}

.icon-box {
  &::before {
    content: $icon-box;
  }
}

.icon-project {
  &::before {
    content: $icon-project;
  }
}

.icon-trigger {
  &::before {
    content: $icon-trigger;
  }
}

.icon-cloud-download {
  &::before {
    content: $icon-cloud-download;
  }
}

.icon-save {
  &::before {
    content: $icon-save;
  }
}

.icon-cancel {
  &::before {
    content: $icon-cancel;
  }
}

.icon-github {
  &::before {
    content: $icon-github;
  }
}
.icon-cassandra .path1 {
  &::before {
    content: $icon-cassandra-path1;
  }
}

.icon-cassandra .path2 {
  &::before {
    content: $icon-cassandra-path2;
  }
}

.icon-cassandra .path3 {
  &::before {
    content: $icon-cassandra-path3;
  }
}

.icon-cassandra .path4 {
  &::before {
    content: $icon-cassandra-path4;
  }
}

.icon-elixir {
  &::before {
    content: $icon-elixir;
  }
}

.icon-mariadb {
  &::before {
    content: $icon-mariadb;
  }
}

.icon-spring {
  &::before {
    content: $icon-spring;
  }
}

.icon-react {
  &::before {
    content: $icon-react;
  }
}

.icon-redis {
  &::before {
    content: $icon-redis;
  }
}

.icon-angularjs {
  &::before {
    content: $icon-angularjs;
  }
}

.icon-django {
  &::before {
    content: $icon-django;
  }
}

.icon-html5 {
  &::before {
    content: $icon-html5;
  }
}

.icon-laravel {
  &::before {
    content: $icon-laravel;
  }
}

.icon-gitlab {
  &::before {
    content: $icon-gitlab;
  }
}

.icon-github {
  &::before {
    content: $icon-github;
  }
}

.icon-bitbucket {
  &::before {
    content: $icon-bitbucket;
  }
}

.icon-mongodb {
  &::before {
    content: $icon-mongodb;
  }
}

.icon-mysql {
  &::before {
    content: $icon-mysql;
  }
}

.icon-nodejs {
  &::before {
    content: $icon-nodejs;
  }
}

.icon-postgresql {
  &::before {
    content: $icon-postgresql;
  }
}

.icon-rails {
  &::before {
    content: $icon-rails;
  }
}

.icon-ruby {
  &::before {
    content: $icon-ruby;
  }
}

.icon-wordpress {
  &::before {
    content: $icon-wordpress;
  }
}

.icon-yii {
  &::before {
    content: $icon-yii;
  }
}

.icon-ember {
  &::before {
    content: $icon-ember;
  }
}

.icon-mydevop .path1 {
  &::before {
    content: $icon-mydevop-path1;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path2 {
  &::before {
    content: $icon-mydevop-path2;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path3 {
  &::before {
    content: $icon-mydevop-path3;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path4 {
  &::before {
    content: $icon-mydevop-path4;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path5 {
  &::before {
    content: $icon-mydevop-path5;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path6 {
  &::before {
    content: $icon-mydevop-path6;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path7 {
  &::before {
    content: $icon-mydevop-path7;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path8 {
  &::before {
    content: $icon-mydevop-path8;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path9 {
  &::before {
    content: $icon-mydevop-path9;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path10 {
  &::before {
    content: $icon-mydevop-path10;
    margin-left: -2.265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-mydevop .path11 {
  &::before {
    content: $icon-mydevop-path11;
    margin-left: -2.265625em;
    color: rgb(100, 196, 174);
  }
}

.icon-mydevop .path12 {
  &::before {
    content: $icon-mydevop-path12;
    margin-left: -2.265625em;
    color: rgb(42, 169, 182);
  }
}

.icon-mydevop .path13 {
  &::before {
    content: $icon-mydevop-path13;
    margin-left: -2.265625em;
    color: rgb(100, 196, 174);
  }
}

.icon-mydevop .path14 {
  &::before {
    content: $icon-mydevop-path14;
    margin-left: -2.265625em;
    color: rgb(42, 169, 182);
  }
}

.icon-mydevop-2 {
  &::before {
    content: $icon-mydevop-2;
  }
}

.icon-logo .path1 {
  &::before {
    content: $icon-logo-path1;
    color: rgb(84, 106, 114);
  }
}

.icon-logo .path2 {
  &::before {
    content: $icon-logo-path2;
    margin-left: -2.7197265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-logo .path3 {
  &::before {
    content: $icon-logo-path3;
    margin-left: -2.7197265625em;
    color: rgb(84, 106, 114);
  }
}

.icon-logo .path4 {
  &::before {
    content: $icon-logo-path4;
    margin-left: -2.7197265625em;
    color: rgb(100, 196, 174);
  }
}

.icon-logo .path5 {
  &::before {
    content: $icon-logo-path5;
    margin-left: -2.7197265625em;
    color: rgb(42, 169, 182);
  }
}

.icon-logo .path6 {
  &::before {
    content: $icon-logo-path6;
    margin-left: -2.7197265625em;
    color: rgb(100, 196, 174);
  }
}

.icon-logo .path7 {
  &::before {
    content: $icon-logo-path7;
    margin-left: -2.7197265625em;
    color: rgb(42, 169, 182);
  }
}

.icon-lock {
  &::before {
    content: $icon-lock;
  }
}

.icon-ci {
  &::before {
    content: $icon-ci;
  }
}

.icon-backup {
  &::before {
    content: $icon-backup;
  }
}

.icon-performance {
  &::before {
    content: $icon-performance;
  }
}

body {
  background: $secondary-color;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'SFText-Regular';
  transition: all 0.25s ease-in;
}

.container {
  padding: 2em 0;
}

.card {
  padding: 1em;

  &[class='card'] > div {
    padding: 1em;
  }

  form {
    padding-bottom: 1em;

    .btn-login {
      margin-top: 2em;
    }
  }
}

.logo-login {
  font-size: 4em;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.color-primary {
  color: $primary-color;
}

// $primary-color: rgb(83, 106, 112);
// $secondary-color: rgb(45, 110, 148);
// $tertiary-color: rgb(226, 34, 59);
// $quaternary-color: rgb(47, 169, 182);
// $quinary-color: rgb(103, 196, 175);

.padding-2 {
  padding: 2em;
}

.one-click-app {
  margin-bottom: 1em;
}

.footer {
  background-color: $primary-color;
}

.steps {
  .title {
    font-family: 'SFText-Bold' !important;
    font-size: 2em;
  }
  .subtitle {
    font-family: 'SFText-Regular' !important;
    font-size: 1.66em;
  }
}

.video-container{
  video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
  }
  min-height: 880px;
  position: absolute;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}

.hex {
  outline: 1px solid transparent;
  position: relative;
  visibility: hidden;
  /*! fix for jagged edges in FF on hover transition */
  &::after {
    content: '';
    display: block;
    padding-bottom: 86.602%;
    /*! =  100 / tan(60) * 1.5 */
  }
}

.hexIn {
  margin: 0 2%;
  outline: 1px solid transparent;
  overflow: hidden;
  padding-bottom: 110.851%;
  position: absolute;
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  visibility: hidden; /*! fix for jagged edges in FF on hover transition */
  width: 96%; /*! =  width / sin(60) */
  * {
    outline: 1px solid transparent; /*! fix for jagged edges in FF on hover transition */
    position: absolute;
    visibility: visible;
  }
}

.hexLink {
  &.disabled {
    background-color: $primary-color;
    h2, p {
      background-color: rgba($primary-color, 0.9);
    }
  }
  background-color: $quaternary-color;
  color: #fff;
  display: block;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  width: 100%;
  .icon {
    font-size: 5em !important;
    left: 25%;
    position: absolute !important;
    top: 30%;
  }
}
.hex {
  img {
    height: 100%;
    left: -100%;
    margin: 0 auto;
    right: -100%;
    transform: rotate3d(0, 0, 0, 0deg);
    width: auto;
  }
  h2, p {
    background-color: rgba($tertiary-color, 0.9);
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
    padding: 5%;
    transition: transform .2s ease-out, opacity .3s ease-out;
    width: 100%;
  }
  h2 {
    bottom: 50%;
    font-family: 'SFText-Bold';
    font-size: 1.5em;
    padding-top: 50%;
    transform: translate3d(0, -100%, 0);
    z-index: 1;
    &::after {
      border-bottom: 1px solid #fff;
      bottom: 0;
      content: '';
      left: 45%;
      position: absolute;
      text-align: center;
      width: 10%;
    }
  }
  p {
    .icon {
      font-size: 1.5em !important;
      top: 10%;
      left: 13%;
    }
    font-family: 'SFText-Light';
    padding-bottom: 60%;
    font-size: 1em;
    top: 50%;
    transform: translate3d(0, 100%, 0);
  }
}
/*** ACTIVE EFFECT  *********************************************************************/
.hexLink {
  &.active h2, &.active p {
    background-color: rgba($tertiary-color, 0.9);
    transform: translate3d(0, 0, 0);
  }
}
/*** HOVER EFFECT  **********************************************************************/
.hexLink {
  &:hover h2, &:hover p{
    transform: translate3d(0, 0, 0);
  }
}
/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /*! <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%;
  }
  .hex {
    width: 20%;
    /*! = 100 / 5 */
    &:nth-child(9n+6) {
      /*! first hexagon of even rows */
      margin-left: 10%;
      /*! = width of .hex / 2  to indent even rows */
    }
  }
}
@media (max-width: 1200px) and (min-width: 901px) {
  /*! <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%;
  }
  .hex {
    width: 25%;
    /*! = 100 / 4 */
    &:nth-child(7n+5) {
      /*! first hexagon of even rows */
      margin-left: 12.5%;
      /*! = width of .hex / 2  to indent even rows */
    }
  }
}
@media (max-width: 900px) and (min-width: 601px) {
  /*! <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%;
  }
  .hex {
    width: 33.333%;
    /*! = 100 / 3 */
    &:nth-child(5n+4) {
      /*! first hexagon of even rows */
      margin-left: 16.666%;
      /*! = width of .hex / 2  to indent even rows */
    }
  }
}
@media (max-width: 600px) {
  /*! <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%;
  }
  .hex {
    width: 50%;
    /*! = 100 / 3 */
    &:nth-child(3n+3) {
      /*! first hexagon of even rows */
      margin-left: 25%;
      /*! = width of .hex / 2  to indent even rows */
    }
  }
}
@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}
