footer{
    padding-top: 5em;
    padding-bottom: 10em;
}

select{
    margin: 0;
    border-color: transparent;
    width: 90%;
}

h4{
    margin: .5em 0;
}
p{
    margin: .5em 0;
}

ul{
    padding: 0;
}

.active li img{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

/* Visibility */
.is-visible {
  display: block !important;
}

.is-hidden, .hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.repository-list {
  max-height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 39.9375em) {
  .hide-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important;
  }
}

@media screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important;
  }
}

@media screen and (max-width: 39.9375em) {
  .show-for-medium {
    display: none !important;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important;
  }
}

@media screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important;
  }
}

@media screen and (max-width: 63.9375em) {
  .show-for-large {
    display: none !important;
  }
}

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only {
    display: none !important;
  }
}

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important;
  }
}

.show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  &:active, &:focus {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }
}

.show-for-landscape, .hide-for-portrait {
  display: block !important;
}

@media screen and (orientation: landscape) {
  .show-for-landscape, .hide-for-portrait {
    display: block !important;
  }
}

@media screen and (orientation: portrait) {
  .show-for-landscape, .hide-for-portrait {
    display: none !important;
  }
}

.hide-for-landscape, .show-for-portrait {
  display: none !important;
}

@media screen and (orientation: landscape) {
  .hide-for-landscape, .show-for-portrait {
    display: none !important;
  }
}

@media screen and (orientation: portrait) {
  .hide-for-landscape, .show-for-portrait {
    display: block !important;
  }
}

.slide-in-down.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(-100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-enter-active {
    transform: translateY(0);
  }
}

.slide-in-left.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(-100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-enter-active {
    transform: translateX(0);
  }
}

.slide-in-up.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-enter-active {
    transform: translateY(0);
  }
}

.slide-in-right.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(100%);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-enter-active {
    transform: translateX(0);
  }
}

.slide-out-down.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-leave-active {
    transform: translateY(100%);
  }
}

.slide-out-right.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-leave-active {
    transform: translateX(100%);
  }
}

.slide-out-up.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateY(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-leave-active {
    transform: translateY(-100%);
  }
}

.slide-out-left.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: translateX(0);
  transition-property: transform, opacity;
  backface-visibility: hidden;
  &.mui-leave-active {
    transform: translateX(-100%);
  }
}

.fade-in.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  opacity: 0;
  transition-property: opacity;
  &.mui-enter-active {
    opacity: 1;
  }
}

.fade-out.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  opacity: 1;
  transition-property: opacity;
  &.mui-leave-active {
    opacity: 0;
  }
}

.hinge-in-from-top.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(-90deg);
  transform-origin: top;
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: perspective(2000px) rotate(0deg);
    opacity: 1;
  }
}

.hinge-in-from-right.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(-90deg);
  transform-origin: right;
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: perspective(2000px) rotate(0deg);
    opacity: 1;
  }
}

.hinge-in-from-bottom.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(90deg);
  transform-origin: bottom;
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: perspective(2000px) rotate(0deg);
    opacity: 1;
  }
}

.hinge-in-from-left.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(90deg);
  transform-origin: left;
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: perspective(2000px) rotate(0deg);
    opacity: 1;
  }
}

.hinge-in-from-middle-x.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateX(-90deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: perspective(2000px) rotate(0deg);
    opacity: 1;
  }
}

.hinge-in-from-middle-y.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotateY(-90deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: perspective(2000px) rotate(0deg);
    opacity: 1;
  }
}

.hinge-out-from-top.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: top;
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: perspective(2000px) rotateX(-90deg);
    opacity: 0;
  }
}

.hinge-out-from-right.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: right;
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: perspective(2000px) rotateY(-90deg);
    opacity: 0;
  }
}

.hinge-out-from-bottom.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: bottom;
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: perspective(2000px) rotateX(90deg);
    opacity: 0;
  }
}

.hinge-out-from-left.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: left;
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: perspective(2000px) rotateY(90deg);
    opacity: 0;
  }
}

.hinge-out-from-middle-x.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: perspective(2000px) rotateX(-90deg);
    opacity: 0;
  }
}

.hinge-out-from-middle-y.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: perspective(2000px) rotate(0deg);
  transform-origin: center;
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: perspective(2000px) rotateY(-90deg);
    opacity: 0;
  }
}

.scale-in-up.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(0.5);
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-down.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(1.5);
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-out-up.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(1);
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: scale(1.5);
    opacity: 0;
  }
}

.scale-out-down.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: scale(1);
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: scale(0.5);
    opacity: 0;
  }
}

.spin-in.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(-0.75turn);
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: rotate(0);
    opacity: 1;
  }
}

.spin-out.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(0);
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: rotate(0.75turn);
    opacity: 0;
  }
}

.spin-in-ccw.mui-enter {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(0.75turn);
  transition-property: transform, opacity;
  opacity: 0;
  &.mui-enter-active {
    transform: rotate(0);
    opacity: 1;
  }
}

.spin-out-ccw.mui-leave {
  transition-duration: 500ms;
  transition-timing-function: linear;
  transform: rotate(0);
  transition-property: transform, opacity;
  opacity: 1;
  &.mui-leave-active {
    transform: rotate(-0.75turn);
    opacity: 0;
  }
}

.slow {
  transition-duration: 750ms !important;
}

.fast {
  transition-duration: 250ms !important;
}

.linear {
  transition-timing-function: linear !important;
}

.ease {
  transition-timing-function: ease !important;
}

.ease-in {
  transition-timing-function: ease-in !important;
}

.ease-out {
  transition-timing-function: ease-out !important;
}

.ease-in-out {
  transition-timing-function: ease-in-out !important;
}

.bounce-in {
  transition-timing-function: cubic-bezier(0.485, 0.155, 0.24, 1.245) !important;
}

.bounce-out {
  transition-timing-function: cubic-bezier(0.485, 0.155, 0.515, 0.845) !important;
}

.bounce-in-out {
  transition-timing-function: cubic-bezier(0.76, -0.245, 0.24, 1.245) !important;
}

.short-delay {
  transition-delay: 300ms !important;
}

.long-delay {
  transition-delay: 700ms !important;
}

.shake {
  animation-name: shake-7;
}

@keyframes shake-7 {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    transform: translateX(7%);
  }

  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    transform: translateX(-7%);
  }
}


.spin-cw, .spin-ccw {
  animation-name: spin-cw-1turn;
}

@keyframes spin-cw-1turn {
  0% {
    transform: rotate(-1turn);
  }

  100% {
    transform: rotate(0);
  }
}


@keyframes spin-cw-1turn {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}


.wiggle {
  animation-name: wiggle-7deg;
}

@keyframes wiggle-7deg {
  40%, 50%, 60% {
    transform: rotate(7deg);
  }

  35%, 45%, 55%, 65% {
    transform: rotate(-7deg);
  }

  0%, 30%, 70%, 100% {
    transform: rotate(0);
  }
}


.shake, .spin-cw, .spin-ccw, .wiggle {
  animation-duration: 500ms;
}

.infinite {
  animation-iteration-count: infinite;
}

.slow {
  animation-duration: 750ms !important;
}

.fast {
  animation-duration: 250ms !important;
}

.linear {
  animation-timing-function: linear !important;
}

.ease {
  animation-timing-function: ease !important;
}

.ease-in {
  animation-timing-function: ease-in !important;
}

.ease-out {
  animation-timing-function: ease-out !important;
}

.ease-in-out {
  animation-timing-function: ease-in-out !important;
}

.bounce-in {
  animation-timing-function: cubic-bezier(0.485, 0.155, 0.24, 1.245) !important;
}

.bounce-out {
  animation-timing-function: cubic-bezier(0.485, 0.155, 0.515, 0.845) !important;
}

.bounce-in-out {
  animation-timing-function: cubic-bezier(0.76, -0.245, 0.24, 1.245) !important;
}

.short-delay {
  animation-delay: 300ms !important;
}

.long-delay {
  animation-delay: 700ms !important;
}

/* Switch component */
.switch {
  margin: 0 1rem .5rem;
  display: inline-block;
  outline: 0;
  position: relative;
  user-select: none;
  color: #fefefe;
  float: left;
  font-weight: bold;
  font-size: 0.875rem;
}

.switch-description{
  display: inline-block;
  float: left;
  margin-top: .5rem;
}

.switch-input {
  opacity: 0;
  position: absolute;
}

.switch-paddle {
  background: #cacaca;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 2rem;
  transition: all 0.25s ease-out;
  border-radius: 3px;
  color: inherit;
  font-weight: inherit;
}

input + .switch-paddle {
  margin: 0;
}

.switch-paddle::after {
  background: #fefefe;
  content: '';
  display: block;
  position: absolute;
  height: 1.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 1.5rem;
  transition: all 0.25s ease-out;
  transform: translate3d(0, 0, 0);
  border-radius: 3px;
}

input:checked ~ .switch-paddle {
  background: #2ba6cb;
  &::after {
    left: 2.25rem;
  }
}

[data-whatinput='mouse'] input:focus ~ .switch-paddle {
  outline: 0;
}

.switch-active, .switch-inactive {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switch-active {
  left: 8%;
  display: none;
}

input:checked + label > .switch-active {
  display: block;
}

.switch-inactive {
  right: 15%;
}

input:checked + label > .switch-inactive {
  display: none;
}

.switch {
  &.tiny {
    .switch-paddle {
      width: 3rem;
      height: 1.5rem;
      font-size: 0.625rem;
      &::after {
        width: 1rem;
        height: 1rem;
      }
    }
    input:checked ~ .switch-paddle::after {
      left: 1.75rem;
    }
  }
  &.small {
    .switch-paddle {
      width: 3.5rem;
      height: 1.75rem;
      font-size: 0.75rem;
      &::after {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
    input:checked ~ .switch-paddle::after {
      left: 2rem;
    }
  }
  &.large {
    .switch-paddle {
      width: 5rem;
      height: 2.5rem;
      font-size: 1rem;
      &::after {
        width: 2rem;
        height: 2rem;
      }
    }
    input:checked ~ .switch-paddle::after {
      left: 2.75rem;
    }
  }
}

.switch {
  margin-right: .5rem;
  + label {
    line-height: 2rem;
  }
}

/* We use this to get basic styling on all basic form elements */

input {
  &[type="text"], &[type="password"], &[type="date"], &[type="datetime"], &[type="datetime-local"], &[type="month"], &[type="week"], &[type="email"], &[type="number"], &[type="search"], &[type="tel"], &[type="time"], &[type="url"], &[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s linear, background 0.15s linear;
    -moz-transition: border-color 0.15s linear, background 0.15s linear;
    -ms-transition: border-color 0.15s linear, background 0.15s linear;
    -o-transition: border-color 0.15s linear, background 0.15s linear;
    transition: border-color 0.15s linear, background 0.15s linear;
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear;
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="date"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="month"]:focus, &[type="week"]:focus, &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="time"]:focus, &[type="url"]:focus, &[type="color"]:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none;
  }
}

textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

input {
  &[type="text"]:disabled, &[type="password"]:disabled, &[type="date"]:disabled, &[type="datetime"]:disabled, &[type="datetime-local"]:disabled, &[type="month"]:disabled, &[type="week"]:disabled, &[type="email"]:disabled, &[type="number"]:disabled, &[type="search"]:disabled, &[type="tel"]:disabled, &[type="time"]:disabled, &[type="url"]:disabled, &[type="color"]:disabled {
    background-color: #DDDDDD;
    cursor: default;
  }
}

textarea:disabled {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="text"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="text"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="password"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="password"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="date"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="date"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="datetime"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="datetime"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="datetime-local"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="datetime-local"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="month"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="month"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="week"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="week"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="email"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="email"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="number"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="number"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="search"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="search"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="tel"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="tel"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="time"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="time"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="url"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="url"] {
  background-color: #DDDDDD;
  cursor: default;
}

input[type="color"] {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] input[type="color"] {
  background-color: #DDDDDD;
  cursor: default;
}

textarea {
  &[disabled], &[readonly] {
    background-color: #DDDDDD;
    cursor: default;
  }
}

fieldset[disabled] textarea {
  background-color: #DDDDDD;
  cursor: default;
}

input {
  &[type="text"].radius, &[type="password"].radius, &[type="date"].radius, &[type="datetime"].radius, &[type="datetime-local"].radius, &[type="month"].radius, &[type="week"].radius, &[type="email"].radius, &[type="number"].radius, &[type="search"].radius, &[type="tel"].radius, &[type="time"].radius, &[type="url"].radius, &[type="color"].radius {
    border-radius: 3px;
  }
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="date"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="month"]:focus, &[type="week"]:focus, &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="time"]:focus, &[type="url"]:focus, &[type="color"]:focus {
    border-color: #009688;
  }
}

textarea:focus {
  border-color: #009688;
}

textarea.radius {
  border-radius: 3px;
}

form .row {
  .prefix-radius.row.collapse {
    input, textarea, select, button {
      border-radius: 0;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
    .prefix {
      border-radius: 0;
      -webkit-border-bottom-left-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
  }
  .postfix-radius.row.collapse {
    input, textarea, select, button {
      border-radius: 0;
      -webkit-border-bottom-left-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
    .postfix {
      border-radius: 0;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  .prefix-round.row.collapse {
    input, textarea, select, button {
      border-radius: 0;
      -webkit-border-bottom-right-radius: 1000px;
      -webkit-border-top-right-radius: 1000px;
      border-bottom-right-radius: 1000px;
      border-top-right-radius: 1000px;
    }
    .prefix {
      border-radius: 0;
      -webkit-border-bottom-left-radius: 1000px;
      -webkit-border-top-left-radius: 1000px;
      border-bottom-left-radius: 1000px;
      border-top-left-radius: 1000px;
    }
  }
  .postfix-round.row.collapse {
    input, textarea, select, button {
      border-radius: 0;
      -webkit-border-bottom-left-radius: 1000px;
      -webkit-border-top-left-radius: 1000px;
      border-bottom-left-radius: 1000px;
      border-top-left-radius: 1000px;
    }
    .postfix {
      border-radius: 0;
      -webkit-border-bottom-right-radius: 1000px;
      -webkit-border-top-right-radius: 1000px;
      border-bottom-right-radius: 1000px;
      border-top-right-radius: 1000px;
    }
  }
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

/* Selection Tables */
.selection-table {
  border: solid 1px #DDDDDD;
  margin-left: 0;
  margin-bottom: 1.25rem;
  * {
    list-style: none;
    line-height: 1;
  }
  .title {
    background-color: #333333;
    color: #EEEEEE;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.9375rem 1.25rem;
    text-align: center;
  }
  .price {
    background-color: #F6F6F6;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding: 0.9375rem 1.25rem;
    text-align: center;
  }
  .description {
    background-color: #FFFFFF;
    border-bottom: dotted 1px #DDDDDD;
    color: #777777;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.4;
    padding: 0.9375rem;
    text-align: center;
  }
  .bullet-item {
    background-color: #FFFFFF;
    border-bottom: dotted 1px #DDDDDD;
    color: #333333;
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0.9375rem;
    text-align: center;
  }
  .cta-button {
    background-color: #FFFFFF;
    padding: 1.25rem 1.25rem 0;
    text-align: center;
  }
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
  background: #FFFFFF;
  min-width: 100%;
  padding: 10px;
  z-index: 50;
}

[data-magellan-expedition] .sub-nav, [data-magellan-expedition-clone] .sub-nav, [data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
  margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav a, [data-magellan-expedition-clone] .sub-nav a {
  line-height: 1.8em;
}

.reveal-modal-bg {
  background: #000000;
  background: rgba(0, 0, 0, 0.45);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1004;
  left: 0;
}

.reveal-modal {
  border-radius: 3px;
  display: none;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1005;
  left: 0;
  background-color: #FFFFFF;
  padding: 1.875rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  .column, .columns {
    min-width: 0;
  }
  > {
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  &.radius {
    border-radius: 3px;
  }
  &.round {
    border-radius: 1000px;
  }
  &.collapse {
    padding: 0;
  }
  &.full {
    height: 100vh;
    height: 100%;
    left: 0;
    margin-left: 0 !important;
    max-width: none !important;
    min-height: 100vh;
    top: 0;
  }
  &.toback {
    z-index: 1003;
  }
  .close-reveal-modal {
    color: #AAAAAA;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 0.625rem;
    right: 1.375rem;
  }
}

@media only screen and (max-width: 40em) {
  .reveal-modal {
    min-height: 100vh;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal {
    left: 0;
    margin: 0 auto;
    max-width: 62.5em;
    right: 0;
    width: 80%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal {
    top: 6.25rem;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.tiny {
    left: 0;
    margin: 0 auto;
    max-width: 62.5em;
    right: 0;
    width: 30%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.small {
    left: 0;
    margin: 0 auto;
    max-width: 62.5em;
    right: 0;
    width: 40%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.medium {
    left: 0;
    margin: 0 auto;
    max-width: 62.5em;
    right: 0;
    width: 60%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.large {
    left: 0;
    margin: 0 auto;
    max-width: 62.5em;
    right: 0;
    width: 70%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.xlarge {
    left: 0;
    margin: 0 auto;
    max-width: 62.5em;
    right: 0;
    width: 95%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .reveal-modal.full {
    left: 0;
    margin: 0 auto;
    max-width: 62.5em;
    right: 0;
    width: 100%;
  }
}

.selection-table{
    cursor:pointer;
    margin: 1em;
}

.selection-table{
    border: solid 2px #DDDDDD;
}

.selection-table[class~="active"]{
    border: solid 2px #009688;
}

.selection-table {
    margin-bottom: 0;
}

.selection-table .price {
    background-color: #FFFFFF;
}

.selection-table .bullet-item{
    padding: 0.9375rem 0;
}

.selection-table:hover .price .puppet, .selection-table:hover .price .ansible, .selection-table:hover .price .chef{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

/* Automation Software */
.puppet{
    background: url('../img/automation_icons.png') -300px 0;
}

.ansible{
    background: url('../img/automation_icons.png') -0px 0;
}

.chef{
    background: url('../img/automation_icons.png') -150px 0;
}

.puppet, .ansible, .chef{
    filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    width: 150px;
    height: 150px;
    border: 0;
}

/* Connect Service */
.GitHub {
  background: url(../img/services_icons.png) -34px 0px;
}

.DigitalOcean{
  background: url(../img/services_icons.png) 0px 0px;
  -webkit-filter: saturate(10);
  filter: saturate(10);
}

.GitHub, .DigitalOcean{
  width: 34px;
  height: 34px;
  border: 0;
  margin-right: 10px;
}

/* Server Provider */
.amazon_web_services {
  background: url(../img/serverprovider_icons.png) 0 0;
}

.digital_ocean {
  background: url(../img/serverprovider_icons.png) -220px 0;
}

.google_cloud {
  background: url(../img/serverprovider_icons.png) -110px 0;
}

.PlainHTML {
  background: url(../img/serverprovider_icons.png) -330px 0;
}

.amazon_web_services, .digital_ocean, .google_cloud, .PlainHTML {
  filter: blur(1px) grayscale(90%);
  filter: blur(1px) grayscale(90%);
  -webkit-filter: blur(1px) grayscale(90%);
  -moz-filter: blur(1px) grayscale(90%);
  -o-filter: blur(1px) grayscale(90%);
  -ms-filter: blur(1px) grayscale(90%);
  width: 110px;
  height: 110px;
  border: 0;
}

.selection-table:hover .price {
  .amazon_web_services, .digital_ocean, .google_cloud, .PlainHTML {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
  }
}

/* Distribution Provider */
.Ubuntu {
  background: url(../img/distribution_icons.png) -555px 0;
}

.FreeBSD {
  background: url(../img/distribution_icons.png) -445px 0;
}

.Fedora {
  background: url(../img/distribution_icons.png) -335px 0;
}

.Debian {
  background: url(../img/distribution_icons.png) -225px 0;
}

.CoreOS {
  background: url(../img/distribution_icons.png) -115px 0;
}

.CentOS {
  background: url(../img/distribution_icons.png) -5px 0;
}

.Ubuntu, .FreeBSD, .Fedora, .Debian, .CoreOS, .CentOS {
  filter: blur(1px) grayscale(90%);
  -webkit-filter: blur(1px) grayscale(90%);
  -moz-filter: blur(1px) grayscale(90%);
  -o-filter: blur(1px) grayscale(90%);
  -ms-filter: blur(1px) grayscale(90%);
  width: 100px;
  height: 100px;
  border: 0;
}

.selection-table:hover .price {
  .Ubuntu, .FreeBSD, .Fedora, .Debian, .CoreOS, .CentOS {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
  }
}

/* Application Provider */
.freeBSDAMP {
  background: url(../img/applications_icons.png) -530px 0;
}

.LAMP {
  background: url(../img/applications_icons.png) -796px 0;
}

.LEMP {
  background: url(../img/applications_icons.png) -862px 0;
}

.MEAN {
  background: url(../img/applications_icons.png) -994px 0;
}

.Joomla {
  background: url(../img/applications_icons.png) -728px 0;
}

.Drone {
  background: url(../img/applications_icons.png) -332px 0;
}

.Ghost {
  background: url(../img/applications_icons.png) -596px 0;
}

.Rails {
  background: url(../img/applications_icons.png) -1522px 0;
}

.Drupal {
  background: url(../img/applications_icons.png) -398px 0;
}

.MongoDB {
  background: url(../img/applications_icons.png) -1126px 0;
}

.Node {
  background: url(../img/applications_icons.png) -1258px 0;
}

.Cassandra {
  background: url(../img/applications_icons.png) 0 0;
}

.Stack {
  background: url(../img/applications_icons.png) -464px 0;
}

.Django {
  background: url(../img/applications_icons.png) -134px 0;
}

.Docker {
  background: url(../img/applications_icons.png) -200px 0;
}

.Magento {
  background: url(../img/applications_icons.png) -928px 0;
}

.GitLab {
  background: url(../img/applications_icons.png) -662px 0;
}

.MumbleServer {
  background: url(../img/applications_icons.png) -1192px 0;
}

.MediaWiki {
  background: url(../img/applications_icons.png) -1060px 0;
}

.WordPress {
  background: url(../img/applications_icons.png) -1588px 0;
}

.OwnCloud {
  background: url(../img/applications_icons.png) -1324px 0;
}

.Dokku {
  background: url(../img/applications_icons.png) -266px 0;
}

.PHPMyAdmin {
  background: url(../img/applications_icons.png) -1390px 0;
}

.Redmine {
  background: url(../img/applications_icons.png) -1456px 0;
}

.PlainHTML{
    background: url(../img/applications_icons.png) -1655px 0;
}

.freeBSDAMP, .LAMP, .LEMP, .MEAN, .Joomla, .Drone, .Ghost, .Rails, .Drupal, .MongoDB, .Node, .Cassandra, .Stack, .Django, .Docker, .Magento, .GitLab, .MumbleServer, .MediaWiki, .WordPress, .OwnCloud, .Dokku, .PHPMyAdmin, .Redmine, .PlainHTML {
  filter: blur(1px) grayscale(90%);
  -webkit-filter: blur(1px) grayscale(90%);
  -moz-filter: blur(1px) grayscale(90%);
  -o-filter: blur(1px) grayscale(90%);
  -ms-filter: blur(1px) grayscale(90%);
  width: 34px;
  height: 34px;
  border: 0;
  margin-right: 10px;
}

.selection-table:hover .bullet-item {
  .freeBSDAMP, .LAMP, .LEMP, .MEAN, .Joomla, .Drone, .Ghost, .Rails, .Drupal, .MongoDB, .Node, .Cassandra, .Stack, .Django, .Docker, .Magento, .GitLab, .MumbleServer, .MediaWiki, .WordPress, .OwnCloud, .Dokku, .PHPMyAdmin, .Redmine, .PlainHTML {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
  }
}

/* Package */
.Sinatra {
  background: url(../img/package_icons.png) -344px -2px;
}

.Ruby {
  background: url(../img/package_icons.png) -306px -2px;
}

.Haskell {
  background: url(../img/package_icons.png) -192px -2px;
}

.Emacs {
  background: url(../img/package_icons.png) -116px -2px;
}

.VIM {
  background: url(../img/package_icons.png) -458px -2px;
}

.Sinatra, .Ruby, .Haskell, .Emacs, .VIM {
  filter: blur(1px) grayscale(90%);
  -webkit-filter: blur(1px) grayscale(90%);
  -moz-filter: blur(1px) grayscale(90%);
  -o-filter: blur(1px) grayscale(90%);
  -ms-filter: blur(1px) grayscale(90%);
  width: 34px;
  height: 34px;
  border: 0;
  margin-right: 10px;
}

.selection-table:hover .bullet-item {
  .Sinatra, .Ruby, .Haskell, .Emacs, .VIM {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
  }
}

/* SSHKeys */
#SHOW_CLOUD_PROVIDER_SSH_KEY, #hide_ssh_key {
  color: #009688;
}

#ssh_key_content_value {
  margin-bottom: 1em;
}

/* Buttons*/
.button.success{
  height: 60px;
  line-height: 32px;
}

#btn-create_service {
  margin-top: 4em;
}

/* Nav styles */
nav {
  ul{
    list-style-type: none;
  }
}

/* User Profile Styles */
.user-info {
  list-style-type: none;
}

/* Magellan */
[data-magellan-expedition], [data-magellan-expedition-clone] {
  background: #FFFFFF;
  min-width: 100%;
  padding: 10px;
  z-index: 50;
}

[data-magellan-expedition] .sub-nav, [data-magellan-expedition-clone] .sub-nav, [data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
  margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav a, [data-magellan-expedition-clone] .sub-nav a {
  line-height: 1.8em;
}

.sub-nav {
  dt, dd, li {
    margin-left: 0;
  }
  padding-top: 1.25rem;
  dt.active a, dd.active a, li.active a {
    padding: 0.5875rem 0.7rem;
  }
}

[data-magellan-expedition] .sub-nav a, [data-magellan-expedition-clone] .sub-nav a {
  line-height: 3.2em;
}

@media only screen and (min-width: 40.0625em) {
  .tooltip {
    > .nub {
      border-color: transparent transparent #333333 transparent;
      top: -10px;
    }
    &.tip-top > .nub {
      border-color: #333333 transparent transparent transparent;
      bottom: -10px;
      top: auto;
    }
    &.tip-left, &.tip-right {
      float: none !important;
    }
    &.tip-left > .nub {
      border-color: transparent transparent transparent #333333;
      left: auto;
      margin-top: -5px;
      right: -10px;
      top: 50%;
    }
    &.tip-right > .nub {
      border-color: transparent #333333 transparent transparent;
      left: -10px;
      margin-top: -5px;
      right: auto;
      top: 50%;
    }
  }
}

.sub-nav {
  display: block;
  margin: -0.25rem 0 1.125rem;
  overflow: hidden;
  padding-top: 0.25rem;
  width: auto;
  dt {
    text-transform: uppercase;
    color: #999999;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  dd, li {
    color: #999999;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  dt a, dd a, li a {
    color: #999999;
    padding: 0.1875rem 1rem;
    text-decoration: none;
  }
  dt a:hover, dd a:hover, li a:hover {
    color: #737373;
  }
  dt.active a, dd.active a, li.active a {
    border-radius: 3px;
    background: #009688;
    color: #FFFFFF;
    cursor: default;
    font-weight: normal;
    padding: 0.1875rem 1rem;
  }
  dt.active a:hover, dd.active a:hover, li.active a:hover {
    background: #008175;
  }
}

/* Selection Tables */
.sub-nav dd[class=user-login]{
  float: right;
}
